<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
             http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <global-method-security pre-post-annotations="enabled"/>
    <!-- 该路径下的资源不用过滤 -->
    <http pattern="/assets/**" security="none"/>
    <http pattern="/portal/**" security="none"/>
    <http pattern="/login" security="none"/>
    <http pattern="/auth" security="none"/>
    <http pattern="/login/**" security="none"/>
    <http pattern="/403" security="none"/>
    <http pattern="/logout" security="none"/>
    <http pattern="/favicon.ico" security="none"/>
    <http pattern="/favicon.html" security="none"/>

    <http auto-config="true" access-denied-page="/403">
        <form-login login-page="/login"
                    authentication-failure-url="/error"
                    default-target-url="/"/>
        <custom-filter ref="filterSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR"/>
        <session-management>
            <concurrency-control error-if-maximum-exceeded="false"/>
        </session-management>
    </http>

    <beans:bean id="filterSecurityInterceptor"
                class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="accessDecisionManager" ref="accessDecisionManager"/>
        <beans:property name="securityMetadataSource" ref="mySecurityMetadataSource"/>
    </beans:bean>

    <beans:bean id="mySecurityMetadataSource" class="com.wzq.security.acsecurity.MySecurityMetadataSource"
                init-method="loadResourceDefine" />
    <beans:bean id="accessDecisionManager" class="com.wzq.security.acsecurity.MyAccessDecisionManager"/>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="loginUserDetailsService">
        </authentication-provider>
    </authentication-manager>
</beans:beans>