<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wzq.security.dao.RescDaoMapper">

    <resultMap id="rescResultMap" type="com.wzq.security.model.Resc">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="resType" column="res_type"></result>
        <result property="resString" column="res_string"></result>
        <result property="priority" column="priority"></result>
        <result property="descn" column="descn"></result>
        <collection property="roles" resultMap="rolesResult">
        </collection>
    </resultMap>
    
    <resultMap id="rolesResult" type="com.wzq.security.model.Role">
        <id property="id" column="r_id" />
        <result property="name" column="r_name"/>
        <result property="descn" column="r_descn"/>
    </resultMap>

    <select id="getRescList" resultMap="rescResultMap">
        select rc.id, rc.name, rc.res_type, rc.res_string, rc.priority,
        rc.descn, r.id r_id, r.name r_name, r.descn r_descn
        from resc rc
        join resc_role re on rc.id = re.resc_id
        join role r on r.id = re.role_id
    </select>

</mapper>