<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wzq.security.dao.RoleDaoMapper">
    <select id="getRoleById" parameterType="int" resultType="com.wzq.security.model.Role">
        SELECT * FROM role WHERE id=#{id}
    </select>
    <resultMap id="BaseResultMap" type="com.wzq.security.model.Users">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="descn" column="descn"></result>
    </resultMap>
    <sql id="Base_Column_List">
        id,name,descn
    </sql>
    <select id="getRoleList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from role
    </select>
</mapper>