<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wzq.security.dao.UserDaoMapper">
    <select id="getUserById" parameterType="int" resultType="com.wzq.security.model.Users">
        SELECT * FROM users WHERE id=#{id}
    </select>
    <resultMap id="BaseResultMap" type="com.wzq.security.model.Users">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="status" column="status"></result>
        <result property="descn" column="descn"></result>
    </resultMap>
    <sql id="Base_Column_List">
        id,username,password,status,descn
    </sql>
    <select id="getUserList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from users
    </select>
    <select id="getUserByName" parameterType="String" resultMap="UserResultMap">
        select u.id, u.username, u.password, u.status, u.descn, r.id, r.name, r.descn
        from users u
        join user_role ur on u.id = ur.user_id
        join role r on r.id = ur.role_id
        where username=#{username}
    </select>
    <resultMap id="UserResultMap" type="com.wzq.security.model.Users">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="status" column="status"></result>
        <result property="descn" column="descn"></result>
        <collection property="roles" ofType="com.wzq.security.model.Role">
            <id property="id" column="id" />
            <result property="name" column="name"/>
            <result property="descn" column="descn"/>
        </collection>
    </resultMap>
</mapper>